/** CUSTOM PROPERTIES**/ 
:root{
    --primario: #99CAB5;
    --secundario: #B6ECC6;
    --colortext:#848B83;
    --alternativo: #f4efc1;
    --alternativo2:#2c6341;
    --alternativo3:#e6f7e68a;
    --fuentePrincipal: 'New Tegomin', serif;
}

html {
    box-sizing: border-box;

}
img {
    max-width: 100%;
}
.p {
   font-size: 17.8px;
   font-family: Arial, Helvetica, sans-serif; 
   color: var(--colortext)
}
a { 
    text-decoration: none;
}
body {
    background: linear-gradient(to bottom,var(--primario), var(--alternativo2));

}

h1 {
    text-align: center;
    color: var(--colortext);
    font-family: var(--fuentePrincipal);
}


.nav-link, .navbar-brand {
    font-size: 15px;
}
.textlog {
    font-family: var(--fuentePrincipal);
    color: var(--colortext);
    font-size: 68px;
}
.header {
    display: flex;
    justify-content:left;
    padding: 0.5px;
}
.header__logo {
    margin: 5px 0;
    width: 220px; height: 250px;
}

/**Navegacion**/
.navegacion {
    background-color: var(--alternativo);
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--colortext);
    font-size:  20px;
    margin-right: 15px;
}

.navegacion__enlace:last-of-type {
    margin-right: 0;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color:var(--primario);
}

.estructura__mural {
    max-width: 120rem;
    margin: 0 auto;
}

/*label {
    color: var(--colortext);
    font-family: var(--fuentePrincipal);
    font-size: 15px;
}
legend {
    color: var(--colortext);
    font-family: var(--fuentePrincipal);
    font-size: 20px;

}*/

.nav-item {
    color: var(--primario);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.publicacion__logo { 
    width: 470px; 
    height:420px;
    
}
/*Carrousel*/
.class_carrousel{
    margin:auto;
    float:right;
    max-width: 500px;
}
/*Formulario */
.tit_form{
    font-family: --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: var(--alternativo2);
   
}

/*Nutricion*/
.titulo_nut{
    color: #020202;
    font-size: 30px;
    font-family: --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    
    
}
/*Deporte*/
.titulo_dep{
    color:#020202;
    font-size: 60px;
    font-weight: bolder;
}



.msj_ups{
    color: var(--colortext);
}

.genero
{
  margin-right: 30px;
  
}

.chk_genero{
    float: left;
    margin-top: 10px;
    margin-left: 25px;

}

.edad{
    margin-left: 20px;
}

.nacionalidad{
    margin-left: 50px;
}

.segun{
    color: #020202;
    font-weight: bold;
    font-style: oblique ;
}
.agua{
    bottom: 15%;
}

.txt_form{
    color:var(--alternativo2);
}
.margen_15{
    margin-bottom: 40%;
}

.cont_nut{
    margin-bottom: 10%;
    position: relative;
    background-color: var(--alternativo3);

}

.chk_enviar {
    display: flex;
    align-items: center;
    min-height: 10vh;
}

.btn_enviar{
    margin-bottom: 50%;
}

/*Deportes*/
.txt_deportes{
    color:var(--alternativo2);
    font-size: 30px;
}

.txt_cuad_dep{
   display: flexbox;
   font-size: 35px;
   align-items: center;
   background-color:var(--alternativo);
    
}
.cuad_dep{
    margin-bottom: 20px;
    align-items: unset;
}

.alineamiento{
    align-items:flex-start;
}

.pos_container_dep{
    float: left;
    text-align: justify;
    
}
.font_text_dep{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 20px;
    text-align: justify;
}
/*Index*/

.tit_index{
    margin-bottom: 8%;
}
.cuad_psico{
    width: 50%;
    margin: auto;
    display:relative;
    text-align: center;
    margin-bottom: 10%;
    background-color: var(--alternativo3);
    padding: 8%;
    
}

.tit_psico{
   font-variant: small-caps;
    margin-bottom: 5%;
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.txt_psico{
    font-style: oblique;
    font-size: 20px;
    text-align: justify;

}
.img_psico
{
    width: 700px;
    height: 400px;
    margin-bottom: 15%;
    margin-top: 10%;
}


/*Salud y calidad*/

.cuad_salud{
    align-items: center;
    margin-left: 15%;
    margin-top:5%;
}
.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin:0 auto;
}

.tit_salud{
    align-items: center;
    font-size: 130%;
    font-style: oblique;
    font-weight:bold;
    color: var(--alternativo);
}

/*Voluntarios*/
.cont_vol{
    margin-bottom: 10%;
    position: relative;
    background-color: var(--alternativo3);

}


/*Consulta(Te ayudamos)*/

.cont_cons{
    margin-top: 5%;
    margin-bottom: 10%;
    position: relative;
    background-color: var(--alternativo3);
    
}

.sec_res{
    display: relative;
    margin-left: 20%;
}

.txt_res{
    font-size: 25px;
}

/** Footer **/ 
.red-soc{
    
    display: block;
    text-align: center;
    margin-top: 300px;
    padding: 20px;
    
}

.footer{
    margin-bottom:-20px;
    text-align: center;
    color: var(--alternativo2);
    padding: 20px;
    background-color: var(--secundario);
}

.infnos{
    width: 100%;
}

.infequipo{
    width: 100%;
}

